/*CONFIG*/
/*colors*/
/*screen rez*/
/*fonts*/
@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html, body {
  height: 100%; }

html {
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body {
  font-size: 1rem;
  line-height: 1.42;
  font-family: 'ubuntu';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

.wrap {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 40.625rem; }

.container {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  font-family: 'gagalin';
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 0; }
  .title--color-gray {
    color: #2f3234; }
  .title--color-white {
    color: #fff; }
  .title--align-center {
    text-align: center; }

.subtitle {
  font-family: 'lifehack';
  font-size: 4.0625rem;
  color: #fff;
  line-height: 1.1; }

.side-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 7.8125rem;
  right: 2.8125rem;
  width: 0.625rem;
  height: 10.625rem; }

.side-nav__item {
  width: 1rem;
  height: 1rem;
  display: block; }

.side-nav__link {
  position: absolute;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
  border-radius: 50%; }
  .side-nav__link:hover:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0.0625rem solid #fff; }

/*SECTIONS*/
.burger {
  background-image: url(../img/bg/burgers-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.burger__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.header {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo__pic {
  height: 6.125rem;
  width: 4.625rem; }

.nav {
  margin-left: auto;
  margin-right: 1.25rem; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:first-child::before {
    display: none; }
  .nav__item:before {
    content: "";
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 1rem; }

.nav__link {
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

.btn {
  font-weight: 400;
  padding: 0.5625rem 1rem;
  background: #e45028;
  border-radius: 0.4375rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

.hamburger-menu-link {
  position: relative;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.375rem;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.burger__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6.25rem; }
  @media screen and (max-width: 768px) {
    .burger__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.burger__pic {
  width: 50%; }

.burger__img {
  max-width: 100%;
  max-height: 100%; }

.burger__text {
  padding-top: 3.75rem;
  padding-left: 1.875rem; }
  @media screen and (max-width: 768px) {
    .burger__text {
      padding-top: 0;
      text-align: center; } }

.down-btn {
  display: block;
  width: 1.75rem;
  height: 0.875rem;
  margin: 0 auto;
  margin-bottom: 2.5rem; }

.down-btn__img {
  width: 1.75rem;
  height: 0.875rem; }

.best {
  background-image: url(../img/bg/best-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.625rem; }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.best__pic {
  margin-bottom: 2.1875rem;
  height: 5rem; }

.best__img {
  max-height: 100%;
  max-width: 100%; }
  @media screen and (max-width: 480px) {
    .best__img {
      max-width: 6.25rem; } }

.best__title {
  margin-bottom: 7.5rem; }

.best__subtitle {
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 0.75rem; }

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left; } }

.best__text {
  font-weight: 100; }

.slider {
  background-color: #f9b43b;
  background: -moz-linear-gradient(0deg, #f9b43b 0%, #f08c33 50%, #f9b43b 100%);
  background: -webkit-linear-gradient(0deg, #f9b43b 0%, #f08c33 50%, #f9b43b 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(50%, #f08c33), to(#f9b43b));
  background: -o-linear-gradient(bottom, #f9b43b 0%, #f08c33 50%, #f9b43b 100%);
  background: linear-gradient(0deg, #f9b43b 0%, #f08c33 50%, #f9b43b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$top-color",endColorstr="$bottom-color",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__arrow-left, .slider__arrow-right {
  height: 100%; }

.slider__link-left {
  width: 5rem;
  display: block;
  height: 100%;
  position: relative; }

.arrow-left__img {
  width: 1.75rem;
  height: 0.875rem;
  position: absolute;
  -webkit-transform: rotate(90deg) translate(-50%, -50%);
  -ms-transform: rotate(90deg) translate(-50%, -50%);
  transform: rotate(90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 50%; }

.slider__link-right {
  width: 5rem;
  display: block;
  height: 100%;
  position: relative; }

.arrow-right__img {
  width: 1.75rem;
  height: 0.875rem;
  position: absolute;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
  -ms-transform: rotate(-90deg) translate(-50%, -50%);
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 50%; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.slider__list {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.slider__left {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 28.125rem;
  margin-right: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__img {
  padding-top: 12%;
  max-width: 100%;
  max-height: 100%; }

.slider__ingredients {
  position: absolute;
  top: 0;
  left: 0; }

.slider__ingredients {
  background-color: #f08c33;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer; }
  .slider__ingredients:hover {
    background-color: #e45028;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .slider__ingredients.slider__ingredients-active .ingredients__more {
    left: 100%; }

.ingredients__title {
  font-family: 'gagalin';
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff; }

.ingredients__img {
  width: 2.875rem;
  height: 2.8125rem; }

.slider__calories {
  position: absolute;
  bottom: 0;
  left: 0; }
  @media screen and (max-width: 768px) {
    .slider__calories {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }

.calories__img {
  width: 3.75rem;
  height: 3.75rem;
  opacity: 0.5; }

.ingredients__more {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: -9999px;
  top: 0;
  width: 16.875rem;
  border-radius: 0.625rem;
  padding: 1.25rem;
  margin-left: 0.3125rem; }
  @media screen and (max-width: 480px) {
    .ingredients__more {
      padding-top: 2.1875rem; } }

.ingredients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem; }

.ingredients__icon {
  width: 2.75rem;
  height: 2.4375rem; }

.ingredients__name {
  font-family: 'ubuntu';
  font-weight: 500;
  margin-left: 10%; }

.ingredients__quantity {
  margin-left: auto; }

.calories__number {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'gagalin';
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5); }

.calories__units {
  text-align: center;
  font-family: 'gagalin';
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5); }

.ingredients-close {
  display: none; }
  @media screen and (max-width: 480px) {
    .ingredients-close {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px; } }

/*right*/
.slider__right {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider__title {
  line-height: 1;
  margin-bottom: 2.5rem; }

.slider__desc {
  color: #fff;
  margin-bottom: 1.875rem; }

.slider__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.slider__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 0.9;
  color: #e45028;
  font-family: 'gagalin';
  margin-right: 1.875rem; }

.price__units {
  font-size: 4.5rem; }

.price__currency {
  font-size: 1.875rem;
  margin-left: 0.3125rem; }

.team {
  background-image: url(../img/bg/team-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.team__side {
  position: absolute;
  top: 0;
  left: 50%;
  background: rgba(47, 50, 52, 0.93);
  height: 100%;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .team__side {
      left: 0;
      width: 100%;
      text-align: center; } }

.team__content {
  position: absolute;
  top: 7rem;
  left: 6.125rem; }

.team__title {
  margin-bottom: 1.875rem; }

.team-accordeon__item {
  margin-bottom: 2.5rem; }
  .team-accordeon__item:last-child {
    margin-bottom: 0; }
  .team-accordeon__item.team-active .team-accordeon__link {
    color: #f9b43b; }
    .team-accordeon__item.team-active .team-accordeon__link:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .team-accordeon__item.team-active .team-accordeon__member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.team-accordeon__link {
  font-family: 'gagalin';
  font-size: 0.875rem;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1.25rem;
  margin-left: 1.5625rem;
  position: relative; }
  .team-accordeon__link:before, .team-accordeon__link:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.5625rem;
    top: 0.3125rem;
    width: 0;
    height: 0; }
  .team-accordeon__link:before {
    border-top: 0.5625rem solid #f9b43b;
    border-left: 0.375rem solid transparent;
    border-right: 0.375rem solid transparent;
    border-bottom: 0rem solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  @media screen and (max-width: 768px) {
    .team-accordeon__link {
      font-size: 1.5rem; } }

.team-accordeon__member {
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 768px) {
    .team-accordeon__member {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-accordeon__title {
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff; }

.team-accordeon__text {
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff; }

.team-accordeon__pic {
  text-align: center;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__pic {
      margin-right: 0;
      margin-bottom: 0.625rem; } }

.team-accordeon__img {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  border-radius: 50%; }

.menu {
  position: relative;
  background-image: url(../img/bg/menu-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.menu__title {
  position: absolute;
  top: 5%;
  left: 5%; }

.menu-accordeon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-accordeon__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-accordeon__item.menu-active .menu-accordeon__link-text {
    color: #f9b43b; }
  .menu-accordeon__item.menu-active .menu-accordeon__content {
    width: 33.75rem;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    @media screen and (max-width: 768px) {
      .menu-accordeon__item.menu-active .menu-accordeon__content {
        width: 100%;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s; } }
  .menu-accordeon__item.menu-active .menu-accordeon__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.menu-accordeon__link {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }
  @media screen and (max-width: 768px) {
    .menu-accordeon__link {
      width: 3.75rem; } }

.menu-accordeon__link-text {
  font-family: 'gagalin';
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  -webkit-transform: rotate(-90deg) translate(-50%, -50%);
  -ms-transform: rotate(-90deg) translate(-50%, -50%);
  transform: rotate(-90deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  margin-bottom: -1.25rem; }

.menu-accordeon__content {
  height: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .menu-accordeon__content {
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s; } }

.menu-accordeon__text {
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
  width: 100%;
  line-height: 2;
  display: none; }

.phones-close {
  padding-top: 10px;
  padding-right: 10px;
  display: none; }
  @media screen and (max-width: 768px) {
    .phones-close {
      display: block; } }

.review__list {
  background: #000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review__hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.review__item {
  position: relative;
  height: 50%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .review__item {
      width: 50%;
      height: 25%;
      text-align: center; } }
  .review__item:hover .review__hover {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.review__desc {
  width: 85%;
  padding-top: 15%;
  padding-left: 10%;
  line-height: 2; }
  @media screen and (max-width: 768px) {
    .review__desc {
      padding-top: 5%;
      padding-left: 0;
      margin: 0 auto; } }

.review__title {
  font-family: 'gagalin';
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .review__title {
      font-size: 1.5rem; } }

.review__text {
  font-size: 0.875rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .review__text {
      margin-bottom: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.btn--bg_black {
  max-width: 7.25rem;
  padding: 0.6875rem 1.0625rem;
  background: #2f3234;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn--bg_black:hover {
    background: #1f2122;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.order {
  background: url("../img/bg/order-bg.png") 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .order .section__title {
    text-align: center; }

.order__title {
  margin-bottom: 3.125rem; }

.order__form {
  margin-left: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0; } }

.order__form-col {
  width: 45%;
  margin-left: 5%; }
  @media screen and (max-width: 768px) {
    .order__form-col {
      width: 75%;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .order__form-col {
      width: 100%; } }

.order__form-row {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form-label {
  margin-bottom: 1.0625rem;
  font-family: 'ubuntu';
  color: #fff;
  font-size: 0.875rem; }

.order__form-input {
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%; }

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 10px; }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px; }

.order__form-input_textarea {
  height: 6.875rem;
  resize: none; }

@media screen and (max-width: 480px) {
  .order__form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.order__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e45028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width 0.3s, height 0.3s;
    -o-transition: width 0.3s, height 0.3s;
    transition: width 0.3s, height 0.3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem; }

.order__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0rem; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
  background: transparent; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
  background: url("../../img/icons/check.svg") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.order__form-button {
  margin-right: 1.25rem;
  border: 0;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-family: 'ubuntu';
  font-weight: 500;
  padding: 0.625rem 0.9375rem;
  cursor: pointer; }

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.contacts {
  background-image: url(../img/bg/map.png);
  background-size: cover;
  background-repeat: no-repeat; }

.footer {
  background: url("../img/bg/footer.png") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__col {
  width: 50%;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%;
      text-align: center; } }

.footer__address {
  color: #ffffff;
  font-size: 0.875rem; }

.footer__phone {
  color: #e45028;
  font-family: 'ubuntu';
  font-weight: 700;
  text-decoration: none;
  font-size: 0.875rem; }

.footer__phone-icon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.625rem; }

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__col_right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 1.25rem; }

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem; }

/*BLOCKS*/

/*# sourceMappingURL=main.css.map */