.best{
    background-image: url(../img/bg/best-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.best__list{
    display: flex;
    align-items: flex-start;
    text-align: center;
    
    @include phones{
        flex-direction: column;
    }
    
}

.best__item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem(10px);
    
    @include phones{
        flex-direction: row;
    }
}

.best__pic{
    margin-bottom: rem(35px);
    height: 5rem;
}

.best__img{
    max-height: 100%;
    max-width: 100%;
    @include phones{
        max-width: rem(100px);
    }
}

.best__title{
   margin-bottom: rem(120px);
}

.best__subtitle{
    color: #000;
    font-size: rem(24px);
    margin-bottom: rem(12px);
}
.best__desc{
    @include phones{
        text-align: left;
    }
}
.best__text{
    font-weight: 100;
}