.review__list{
    background: #000;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.review__hover{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#141414, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.review__item{
    position: relative;
    height: 50%;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);

    @include tablets{
        width: 50%;
        height: 25%;
        text-align: center;
    }

    &:hover{
        .review__hover{
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    }
}

.review__desc{
    width: 85%;
    padding-top: 15%;
    padding-left: 10%;
    line-height: 2;
    
    @include tablets{
        padding-top: 5%;
        padding-left: 0;
        margin: 0 auto;
    }
}

.review__title{
    font-family: 'gagalin';
    font-size: rem(14px);
    text-transform: uppercase;
    color: #fff;

    @include phones{
        font-size: rem(24px);
    }
}

.review__text{
    font-size: rem(14px);
    font-weight: 200;
    color: #fff;
    margin-bottom: rem(30px);

    @include tablets{
        margin-bottom: rem(10px);
    }

    @include phones{
        display: none;
    }
}

.btn--bg_black{
    max-width: rem(116px);
    padding: rem(11px) rem(17px);
    background: #2f3234;
    transition: 0.3s;
    
    &:hover{
        background: #1f2122;
        transition: 0.3s;
    }
}
