@mixin placecolor($color: #000000){
    &::-webkit-input-placeholder{
        color: $color;
    }

    &:-moz-placeholder{
        color: $color;
    }

    &::-moz-placeholder{
        color: $color;
    }

    &:-ms-input-placeholder{
        color: $color;
    }

}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000){
    background-color: $top-color;
    background: -moz-linear-gradient(0deg, $top-color 0%, $bottom-color 50%, $top-color 100%);
    background: -webkit-linear-gradient(0deg, $top-color 0%, $bottom-color 50%, $top-color 100%);
    background: linear-gradient(0deg, $top-color 0%, $bottom-color 50%, $top-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$top-color",endColorstr="$bottom-color",GradientType=1);
}